<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.swiftapps.swiftbackup">
    <application android:name="org.swiftapps.swiftbackup.SwiftApp" android:theme="@style/SwiftTheme">
        <activity android:name="org.swiftapps.swiftbackup.intro.IntroActivity"/>
        <activity android:name="net.openid.appauth.RedirectUriReceiverActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.home.HomeActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.home.search.HomeSearchActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.appsquickactions.AppsQuickActionsActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.appslist.ui.list.AppListActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.appslist.ui.listbatch.AppsBatchActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.appslist.ui.listconfig.AppsConfigRunActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.detail.DetailActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.apkshare.ApkImportActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.appinfo.AppInfoActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.appconfigs.list.ConfigListActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.appconfigs.edit.ConfigEditActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.appconfigs.settings.ConfigSettingsActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.home.schedule.ScheduleLabelsSelectActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.home.schedule.ui.ScheduleFolderSelectActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.settings.SettingsActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.blacklist.BlacklistActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.notice.NoticeListActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.settings.SettingsDetailActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.settings.AppSwipeActionsActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.cloud.diagnostics.CloudDiagnosticsActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.cloud.orphans.CloudOrphanCleanerActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.settings.appvisibility.AppVisibilityDiagnosticsActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.locale.LocaleActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.contributor.ContributorRegActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.appslist.ui.labels.LabelsActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.appslist.ui.labels.LabelEditActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.manage.ManageSpaceActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.shortcuts.ShortcutsActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.premium.PremiumActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.cloud.connect.GmsSignInActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.cloud.connect.NoGmsSignInActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.messagescalls.dash.MessagesDashActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.messagescalls.backups.MessagesBackupsActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.messagescalls.backuprestore.MessagesBackupRestoreActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.messagescalls.dash.CallsDashActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.messagescalls.backups.CallsBackupsActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.messagescalls.backuprestore.CallsBackupRestoreActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.messagescalls.conversationsview.ConversationsActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.messagescalls.conversationsview.ChatActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.folders.ui.FoldersDashActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.folders.ui.batch.FoldersBatchActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.folders.ui.FolderPickerActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.folders.ui.FolderEditActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.folders.ui.FolderDetailActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.slog.SLogActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.wifi.WifiActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.walls.WallsDashActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.walls.WallsManageActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.walls.WallApplyActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.notice.NoticeViewActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.home.storageswitch.StorageSwitchActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.password.PasswordStrategyActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.password.UserPasswordActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.settings.MultipleBackupsActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.settings.RestoreSpecialDataDetailsActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.tasks.ui.TaskActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.tasks.PreconditionsActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.settings.LicensesActivity"/>
        <activity android:name="com.gun0912.tedpermission.TedPermissionActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.cloud.connect.common.CloudConnectActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.settings.appbackuplimits.AppBackupLimitsActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.cloud.connect.DropboxSignInActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.cloud.connect.OneDriveSignInActivity"/>
        <activity android:name="com.microsoft.identity.client.BrowserTabActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.cloud.connect.BoxSignInActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.cloud.connect.MegaSignInActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.cloud.connect.YandexSignInActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.cloud.connect.PCloudSignInActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.cloud.connect.TeraBoxSignInActivity"/>
        <activity android:name="org.swiftapps.swiftbackup.cloud.connect.CsActivity"/>
        <receiver android:name="org.swiftapps.swiftbackup.jobs.AlarmReceiver"/>
        <receiver android:name="org.swiftapps.swiftbackup.common.LocaleChangedReceiver"/>
        <receiver android:name="org.swiftapps.swiftbackup.jobs.BootReceiver"/>
        <service android:name="org.swiftapps.swiftbackup.tasks.TaskService"/>
        <service android:name="org.swiftapps.swiftbackup.home.schedule.ScheduleService"/>
        <receiver android:name="org.swiftapps.swiftbackup.tasks.NotificationTaskCancelReceiver"/>
        <receiver android:name="org.swiftapps.swiftbackup.common.PackageInstallResultReceiver"/>
        <activity android:name="org.swiftapps.swiftbackup.cloud.connect.FilenSignInActivity"/>
        <receiver android:name="org.swiftapps.swiftbackup.detail.ShortcutPinnedReceiver"/>
        <receiver android:name="org.swiftapps.swiftbackup.messagescalls.defaulthandler.SmsReceiver"/>
        <receiver android:name="org.swiftapps.swiftbackup.messagescalls.defaulthandler.MmsReceiver"/>
        <activity android:name="org.swiftapps.swiftbackup.messagescalls.defaulthandler.ComposeSmsActivity"/>
        <service android:name="org.swiftapps.swiftbackup.messagescalls.defaulthandler.HeadlessSmsSendService"/>
        <provider android:name="androidx.core.content.FileProvider"/>
        <provider android:name="rikka.shizuku.ShizukuProvider"/>
        <activity android:name="com.microsoft.identity.common.internal.providers.oauth2.AuthorizationActivity"/>
        <activity android:name="com.microsoft.identity.common.internal.providers.oauth2.CurrentTaskAuthorizationActivity"/>
        <activity android:name="com.microsoft.identity.client.helper.BrokerHelperActivity"/>
        <activity android:name="com.microsoft.identity.client.CurrentTaskBrowserTabActivity"/>
        <activity android:name="com.microsoft.identity.common.internal.providers.oauth2.SilentAuthorizationActivity"/>
        <activity android:name="com.microsoft.identity.common.internal.broker.BrokerActivity"/>
        <activity android:name="com.microsoft.identity.common.internal.broker.InstallCertActivityLauncher"/>
        <activity android:name="com.google.firebase.auth.internal.GenericIdpActivity"/>
        <activity android:name="com.google.firebase.auth.internal.RecaptchaActivity"/>
        <service android:name="com.google.firebase.components.ComponentDiscoveryService"/>
        <service android:name="androidx.credentials.playservices.CredentialProviderMetadataHolder"/>
        <activity android:name="androidx.credentials.playservices.controllers.identityauth.HiddenActivity"/>
        <activity android:name="androidx.credentials.playservices.controllers.identitycredentials.IdentityCredentialApiHiddenActivity"/>
        <activity android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"/>
        <service android:name="com.google.android.gms.auth.api.signin.RevocationBoundService"/>
        <activity android:name="net.openid.appauth.AuthorizationManagementActivity"/>
        <provider android:name="com.gun0912.tedpermission.provider.TedPermissionProvider"/>
        <activity android:name="com.android.billingclient.api.ProxyBillingActivity"/>
        <activity android:name="com.android.billingclient.api.ProxyBillingActivityV2"/>
        <activity android:name="com.google.android.gms.common.api.GoogleApiActivity"/>
        <service android:name="com.google.firebase.sessions.SessionLifecycleService"/>
        <provider android:name="androidx.startup.InitializationProvider"/>
        <activity android:name="com.pcloud.sdk.AuthorizationActivity"/>
        <activity android:name="com.pcloud.sdk.CustomTabActivity"/>
        <service android:name="androidx.room.MultiInstanceInvalidationService"/>
        <service android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"/>
        <receiver android:name="androidx.profileinstaller.ProfileInstallReceiver"/>
        <service android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"/>
        <receiver android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <activity android:name="com.yubico.yubikit.android.ui.OtpActivity"/>
        <activity android:name="com.yubico.yubikit.android.ui.YubiKeyPromptActivity"/>
        <activity android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity"/>
    </application>
</manifest>
