<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="37" android:compileSdkVersionCodename="17" package="org.swiftapps.swiftbackup" platformBuildVersionCode="37" platformBuildVersionName="17">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_LOCAL_NETWORK"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.QUERY_ADVANCED_PROTECTION_MODE"/>
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="com.android.permission.GET_INSTALLED_APPS"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT"/>
    <uses-feature android:name="android.hardware.screen.portrait" android:required="false"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <queries>
        <package android:name="com.azure.authenticator"/>
        <package android:name="com.microsoft.identity.testuserapp"/>
        <package android:name="com.microsoft.windowsintune.companyportal"/>
        <package android:name="com.microsoft.mockauthapp"/>
        <package android:name="com.microsoft.mockcp"/>
        <package android:name="com.microsoft.mockltw"/>
        <package android:name="com.microsoft.appmanager"/>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
        <intent>
            <action android:name="com.android.vending.billing.InAppBillingService.BIND"/>
        </intent>
        <intent>
            <action android:name="com.google.android.apps.play.billingtestcompanion.BillingOverrideService.BIND"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <permission android:name="org.swiftapps.swiftbackup.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="org.swiftapps.swiftbackup.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <uses-permission android:name="moe.shizuku.manager.permission.API_V23"/>
    <application android:allowBackup="false" android:allowClearUserData="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:enableOnBackInvokedCallback="true" android:extractNativeLibs="true" android:icon="@mipmap/ic_launcher" android:label="@string/swift_backup" android:largeHeap="true" android:localeConfig="@xml/locales_config" android:name="org.swiftapps.swiftbackup.SwiftApp" android:networkSecurityConfig="@xml/network_security_config" android:requestLegacyExternalStorage="true" android:supportsRtl="true" android:theme="@style/SwiftTheme">
        <meta-data android:name="android.max_aspect" android:value="2.1"/>
        <activity android:exported="true" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.intro.IntroActivity" android:resizeableActivity="true" android:theme="@style/IntroTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:name="net.openid.appauth.RedirectUriReceiverActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="org.swiftapps.swiftbackup"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="1" android:path="/connect" android:scheme="db-mzc5bxvbe0960q1"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="oauth" android:scheme="org.swiftapps.swiftbackup.box"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="oauth" android:scheme="org.swiftapps.swiftbackup.yandex"/>
            </intent-filter>
        </activity>
        <activity android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.home.HomeActivity" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.home.search.HomeSearchActivity" android:parentActivityName="org.swiftapps.swiftbackup.home.HomeActivity" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:label="@string/quick_actions_apps" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.appsquickactions.AppsQuickActionsActivity" android:parentActivityName="org.swiftapps.swiftbackup.home.HomeActivity"/>
        <activity android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.appslist.ui.list.AppListActivity" android:parentActivityName="org.swiftapps.swiftbackup.home.HomeActivity" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.appslist.ui.listbatch.AppsBatchActivity" android:parentActivityName="org.swiftapps.swiftbackup.home.HomeActivity" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.appslist.ui.listconfig.AppsConfigRunActivity" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:launchMode="singleTask" android:name="org.swiftapps.swiftbackup.detail.DetailActivity" android:parentActivityName="org.swiftapps.swiftbackup.appslist.ui.list.AppListActivity" android:windowSoftInputMode="stateAlwaysHidden|adjustNothing"/>
        <activity android:exported="true" android:label="@string/import_apks" android:name="org.swiftapps.swiftbackup.apkshare.ApkImportActivity" android:theme="@style/SwiftTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/octet-stream"/>
                <data android:mimeType="application/zip"/>
                <data android:mimeType="application/x-zip"/>
                <data android:mimeType="application/x-zip-compressed"/>
                <data android:mimeType="application/vnd.android.package-archive"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:mimeType="application/octet-stream"/>
                <data android:mimeType="application/zip"/>
                <data android:mimeType="application/x-zip"/>
                <data android:mimeType="application/x-zip-compressed"/>
                <data android:mimeType="application/vnd.android.package-archive"/>
            </intent-filter>
        </activity>
        <activity android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.appinfo.AppInfoActivity" android:parentActivityName="org.swiftapps.swiftbackup.detail.DetailActivity"/>
        <activity android:label="@string/configs" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.appconfigs.list.ConfigListActivity"/>
        <activity android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.appconfigs.edit.ConfigEditActivity"/>
        <activity android:label="@string/edit_custom_settings" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.appconfigs.settings.ConfigSettingsActivity"/>
        <activity android:label="@string/labels" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.home.schedule.ScheduleLabelsSelectActivity"/>
        <activity android:label="@string/select_folder_setups" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.home.schedule.ui.ScheduleFolderSelectActivity"/>
        <activity android:label="@string/settings" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.settings.SettingsActivity" android:parentActivityName="org.swiftapps.swiftbackup.home.HomeActivity"/>
        <activity android:label="@string/blacklist_apps" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.blacklist.BlacklistActivity" android:parentActivityName="org.swiftapps.swiftbackup.settings.SettingsActivity"/>
        <activity android:label="@string/announcements_from_developer" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.notice.NoticeListActivity" android:parentActivityName="org.swiftapps.swiftbackup.settings.SettingsActivity"/>
        <activity android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.settings.SettingsDetailActivity" android:parentActivityName="org.swiftapps.swiftbackup.settings.SettingsActivity"/>
        <activity android:label="@string/swipe_actions" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.settings.AppSwipeActionsActivity" android:parentActivityName="org.swiftapps.swiftbackup.settings.SettingsDetailActivity"/>
        <activity android:label="@string/cloud_diagnostics" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.cloud.diagnostics.CloudDiagnosticsActivity" android:parentActivityName="org.swiftapps.swiftbackup.settings.SettingsDetailActivity"/>
        <activity android:label="@string/cloud_orphan_cleaner" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.cloud.orphans.CloudOrphanCleanerActivity" android:parentActivityName="org.swiftapps.swiftbackup.settings.SettingsDetailActivity"/>
        <activity android:label="@string/app_visibility_diagnostics" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.settings.appvisibility.AppVisibilityDiagnosticsActivity" android:parentActivityName="org.swiftapps.swiftbackup.settings.SettingsDetailActivity"/>
        <activity android:label="@string/language" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.locale.LocaleActivity" android:parentActivityName="org.swiftapps.swiftbackup.settings.SettingsActivity"/>
        <activity android:label="Translator details" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.contributor.ContributorRegActivity" android:parentActivityName="org.swiftapps.swiftbackup.settings.SettingsActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:label="@string/manage_app_labels" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.appslist.ui.labels.LabelsActivity"/>
        <activity android:label="@string/manage_app_labels" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.appslist.ui.labels.LabelEditActivity"/>
        <activity android:label="@string/manage_space" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.manage.ManageSpaceActivity"/>
        <activity android:excludeFromRecents="true" android:exported="true" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.shortcuts.ShortcutsActivity" android:theme="@style/SwiftTheme.Transparent"/>
        <activity android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.premium.PremiumActivity" android:parentActivityName="org.swiftapps.swiftbackup.home.HomeActivity"/>
        <activity android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.cloud.connect.GmsSignInActivity" android:theme="@style/SwiftTheme.Transparent"/>
        <activity android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.cloud.connect.NoGmsSignInActivity" android:theme="@style/SwiftTheme.Transparent"/>
        <activity android:label="@string/messages_backup" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.messagescalls.dash.MessagesDashActivity" android:parentActivityName="org.swiftapps.swiftbackup.home.HomeActivity"/>
        <activity android:label="@string/messages_backup" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.messagescalls.backups.MessagesBackupsActivity" android:parentActivityName="org.swiftapps.swiftbackup.messagescalls.dash.MessagesDashActivity"/>
        <activity android:label="@string/conversations" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.messagescalls.backuprestore.MessagesBackupRestoreActivity" android:parentActivityName="org.swiftapps.swiftbackup.messagescalls.dash.MessagesDashActivity"/>
        <activity android:label="@string/call_logs_backup" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.messagescalls.dash.CallsDashActivity" android:parentActivityName="org.swiftapps.swiftbackup.home.HomeActivity"/>
        <activity android:label="@string/call_logs_backup" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.messagescalls.backups.CallsBackupsActivity" android:parentActivityName="org.swiftapps.swiftbackup.messagescalls.dash.CallsDashActivity"/>
        <activity android:label="@string/call_logs" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.messagescalls.backuprestore.CallsBackupRestoreActivity" android:parentActivityName="org.swiftapps.swiftbackup.messagescalls.dash.CallsDashActivity"/>
        <activity android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.messagescalls.conversationsview.ConversationsActivity"/>
        <activity android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.messagescalls.conversationsview.ChatActivity"/>
        <activity android:label="@string/folder_backups" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.folders.ui.FoldersDashActivity" android:parentActivityName="org.swiftapps.swiftbackup.home.HomeActivity"/>
        <activity android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.folders.ui.batch.FoldersBatchActivity" android:parentActivityName="org.swiftapps.swiftbackup.folders.ui.FoldersDashActivity" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:label="@string/select_folder" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.folders.ui.FolderPickerActivity" android:parentActivityName="org.swiftapps.swiftbackup.folders.ui.FoldersDashActivity"/>
        <activity android:label="@string/manage_folder_backup" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.folders.ui.FolderEditActivity" android:parentActivityName="org.swiftapps.swiftbackup.folders.ui.FoldersDashActivity"/>
        <activity android:label="@string/folder_backup" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.folders.ui.FolderDetailActivity" android:parentActivityName="org.swiftapps.swiftbackup.folders.ui.FoldersDashActivity"/>
        <activity android:label="@string/swiftlogger" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.slog.SLogActivity" android:parentActivityName="org.swiftapps.swiftbackup.home.HomeActivity"/>
        <activity android:label="@string/wifi_networks_backup" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.wifi.WifiActivity" android:parentActivityName="org.swiftapps.swiftbackup.home.HomeActivity"/>
        <activity android:label="@string/wallpapers_backup" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.walls.WallsDashActivity" android:parentActivityName="org.swiftapps.swiftbackup.home.HomeActivity"/>
        <activity android:label="@string/manage" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.walls.WallsManageActivity" android:parentActivityName="org.swiftapps.swiftbackup.walls.WallsDashActivity"/>
        <activity android:label="@string/set_wallpaper" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.walls.WallApplyActivity" android:screenOrientation="portrait" android:theme="@style/SwiftTheme.Translucent"/>
        <activity android:label="" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.notice.NoticeViewActivity"/>
        <activity android:label="@string/storage_for_local_backups" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.home.storageswitch.StorageSwitchActivity"/>
        <activity android:label="@string/encryption_password_strategy" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.password.PasswordStrategyActivity"/>
        <activity android:label="@string/set_user_password" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.password.UserPasswordActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:label="@string/multiple_backups_strategy" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.settings.MultipleBackupsActivity"/>
        <activity android:label="@string/restore_special_data_title" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.settings.RestoreSpecialDataDetailsActivity"/>
        <activity android:launchMode="singleTask" android:name="org.swiftapps.swiftbackup.tasks.ui.TaskActivity"/>
        <activity android:label="@string/grant_permissions" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.tasks.PreconditionsActivity"/>
        <activity android:label="@string/notices" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.settings.LicensesActivity"/>
        <activity android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|layoutDirection|fontScale" android:name="com.gun0912.tedpermission.TedPermissionActivity" android:screenOrientation="unspecified" android:theme="@style/Theme.Transparent.Permission"/>
        <activity android:label="@string/select_a_cloud_service" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.cloud.connect.common.CloudConnectActivity"/>
        <activity android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.settings.appbackuplimits.AppBackupLimitsActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:exported="false" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.cloud.connect.DropboxSignInActivity"/>
        <activity android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.cloud.connect.OneDriveSignInActivity" android:theme="@style/SwiftTheme.Transparent"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:exported="true" android:name="com.microsoft.identity.client.BrowserTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="org.swiftapps.swiftbackup" android:path="/a73Cd0Z4P4RkZQiyj1UX7/C56jo=" android:scheme="msauth"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.cloud.connect.BoxSignInActivity" android:theme="@style/SwiftTheme.Transparent"/>
        <activity android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.cloud.connect.MegaSignInActivity"/>
        <activity android:exported="false" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.cloud.connect.YandexSignInActivity" android:theme="@style/SwiftTheme.Transparent"/>
        <activity android:exported="true" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.cloud.connect.PCloudSignInActivity" android:theme="@style/SwiftTheme.Transparent"/>
        <activity android:exported="true" android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.cloud.connect.TeraBoxSignInActivity" android:theme="@style/SwiftTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="teraboxOauth" android:scheme="org.swiftapps.swiftbackup.terabox"/>
            </intent-filter>
        </activity>
        <activity android:launchMode="singleTop" android:name="org.swiftapps.swiftbackup.cloud.connect.CsActivity" android:windowSoftInputMode="adjustResize"/>
        <receiver android:name="org.swiftapps.swiftbackup.jobs.AlarmReceiver"/>
        <receiver android:exported="true" android:name="org.swiftapps.swiftbackup.common.LocaleChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="false" android:exported="true" android:name="org.swiftapps.swiftbackup.jobs.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:foregroundServiceType="dataSync" android:name="org.swiftapps.swiftbackup.tasks.TaskService"/>
        <service android:exported="false" android:foregroundServiceType="dataSync" android:name="org.swiftapps.swiftbackup.home.schedule.ScheduleService"/>
        <receiver android:name="org.swiftapps.swiftbackup.tasks.NotificationTaskCancelReceiver"/>
        <receiver android:exported="false" android:name="org.swiftapps.swiftbackup.common.PackageInstallResultReceiver"/>
        <activity android:exported="false" android:name="org.swiftapps.swiftbackup.cloud.connect.FilenSignInActivity"/>
        <receiver android:name="org.swiftapps.swiftbackup.detail.ShortcutPinnedReceiver"/>
        <receiver android:exported="true" android:name="org.swiftapps.swiftbackup.messagescalls.defaulthandler.SmsReceiver" android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="org.swiftapps.swiftbackup.messagescalls.defaulthandler.MmsReceiver" android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER"/>
                <data android:mimeType="application/vnd.wap.mms-message"/>
            </intent-filter>
        </receiver>
        <activity android:exported="true" android:name="org.swiftapps.swiftbackup.messagescalls.defaulthandler.ComposeSmsActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SENDTO"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="sms"/>
                <data android:scheme="smsto"/>
                <data android:scheme="mms"/>
                <data android:scheme="mmsto"/>
            </intent-filter>
        </activity>
        <service android:exported="true" android:name="org.swiftapps.swiftbackup.messagescalls.defaulthandler.HeadlessSmsSendService" android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="sms"/>
                <data android:scheme="smsto"/>
                <data android:scheme="mms"/>
                <data android:scheme="mmsto"/>
            </intent-filter>
        </service>
        <provider android:authorities="org.swiftapps.swiftbackup.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/filepaths"/>
        </provider>
        <provider android:authorities="org.swiftapps.swiftbackup.shizuku" android:enabled="true" android:exported="true" android:multiprocess="false" android:name="rikka.shizuku.ShizukuProvider" android:permission="android.permission.INTERACT_ACROSS_USERS_FULL"/>
        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:exported="false" android:launchMode="singleTask" android:name="com.microsoft.identity.common.internal.providers.oauth2.AuthorizationActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:exported="false" android:launchMode="standard" android:name="com.microsoft.identity.common.internal.providers.oauth2.CurrentTaskAuthorizationActivity"/>
        <activity android:exported="false" android:launchMode="standard" android:name="com.microsoft.identity.client.helper.BrokerHelperActivity"/>
        <activity android:exported="true" android:name="com.microsoft.identity.client.CurrentTaskBrowserTabActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.microsoft.identity.common.internal.providers.oauth2.SilentAuthorizationActivity" android:theme="@style/TransparentActivityTheme"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:name="com.microsoft.identity.common.internal.broker.BrokerActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:name="com.microsoft.identity.common.internal.broker.InstallCertActivityLauncher" android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:excludeFromRecents="true" android:exported="true" android:launchMode="singleTask" android:name="com.google.firebase.auth.internal.GenericIdpActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="firebase.auth" android:path="/" android:scheme="genericidp"/>
            </intent-filter>
        </activity>
        <activity android:excludeFromRecents="true" android:exported="true" android:launchMode="singleTask" android:name="com.google.firebase.auth.internal.RecaptchaActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="firebase.auth" android:path="/" android:scheme="recaptcha"/>
            </intent-filter>
        </activity>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.database.FirebaseDatabaseKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.database.DatabaseRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.ndk.CrashlyticsNdkRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.FirebaseCrashlyticsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.sessions.FirebaseSessionsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <service android:enabled="true" android:exported="false" android:name="androidx.credentials.playservices.CredentialProviderMetadataHolder">
            <meta-data android:name="androidx.credentials.CREDENTIAL_PROVIDER_KEY" android:value="androidx.credentials.playservices.CredentialProviderPlayServicesImpl"/>
        </service>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:enabled="true" android:exported="false" android:fitsSystemWindows="true" android:name="androidx.credentials.playservices.controllers.identityauth.HiddenActivity" android:theme="@style/Theme.Hidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:enabled="true" android:exported="false" android:fitsSystemWindows="true" android:name="androidx.credentials.playservices.controllers.identitycredentials.IdentityCredentialApiHiddenActivity" android:theme="@style/Theme.Hidden"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" android:visibleToInstantApps="true"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:exported="false" android:launchMode="singleTask" android:name="net.openid.appauth.AuthorizationManagementActivity" android:theme="@style/Theme.AppCompat.Translucent.NoTitleBar"/>
        <provider android:authorities="org.swiftapps.swiftbackup.tedpermissionprovider" android:exported="false" android:name="com.gun0912.tedpermission.provider.TedPermissionProvider"/>
        <meta-data android:name="com.google.android.play.billingclient.version" android:value="8.3.0"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:exported="false" android:name="com.android.billingclient.api.ProxyBillingActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:exported="false" android:name="com.android.billingclient.api.ProxyBillingActivityV2" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:enabled="false" android:exported="false" android:name="com.google.firebase.sessions.SessionLifecycleService"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <provider android:authorities="org.swiftapps.swiftbackup.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer" android:value="androidx.startup"/>
            <meta-data android:name="okhttp3.internal.platform.PlatformInitializer" android:value="androidx.startup"/>
        </provider>
        <activity android:name="com.pcloud.sdk.AuthorizationActivity"/>
        <activity android:exported="true" android:name="com.pcloud.sdk.CustomTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="org.swiftapps.swiftbackup" android:scheme="pcloud-oauth"/>
            </intent-filter>
        </activity>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <meta-data android:name="moe.shizuku.client.V3_SUPPORT" android:value="true"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <activity android:excludeFromRecents="true" android:label="@string/yubikit_otp_activity_title" android:name="com.yubico.yubikit.android.ui.OtpActivity" android:theme="@style/YubiKitPromptDialogTheme"/>
        <activity android:excludeFromRecents="true" android:label="@string/yubikit_prompt_activity_title" android:name="com.yubico.yubikit.android.ui.YubiKeyPromptActivity" android:theme="@style/YubiKitPromptDialogTheme"/>
        <activity android:exported="false" android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity" android:stateNotNeeded="true" android:theme="@style/Theme.PlayCore.Transparent"/>
    </application>
</manifest>
